body{
    color: rgb(0, 132, 255);
    background-color:rgba(255, 0, 157, 0.452);
}

header {
border-bottom: solid 2px blue;
padding: 20px;
font-size: 32px;
color: aqua;

}
section{
    background-color: rgba(162, 0, 255, 0.651);
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
}
